@mixin font($weight, $size) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $weight;
    font-size: $size;
    
}

@mixin colors($color, $bgColor, $borderW: 0px, $borderC: transparent, $shadow: 0) {
    color: $color;
    background-color: $bgColor;
    border: $borderW solid $borderC;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,$shadow);
}