$light-gray: rgb(235, 235, 235);
$gray: rgb(133, 133, 133);
$dark-gray: rgb(65, 65, 65);
$black: rgb(0,0,0);
$white: rgb(255,255,255);

/* card bgs */
$red: rgba(235, 90, 70, 0.5);
$orange: rgba(255, 159, 26, 0.5);
$yellow: rgba(242, 214, 0, 0.5);
$lime: rgb(81, 232, 152, 0.5);
$sky: rgb(0, 194, 224, 0.5);
$dark-blue: rgb(52, 69, 99, 0.5);
$pink: rgb(255, 120, 203, 0.5);
$purple: rgb(195, 119, 224, 0.5);
$green: rgb(97, 189, 79, 0.5);
$blue: rgb(0, 121, 191, 0.5);
$gr: rgb(179, 186, 197, 0.5);

/* labels */
$label-red: #EB5A46;
$label-orange: #FF9F1A;
$label-yellow: #F2D600;
$label-lime: #51E898;
$label-green: #61BD4F;
$label-sky: #00C2E0;
$label-blue: #0079BF;
$label-black: #344563;
$label-pink: #FF78CB;
$label-purple: #C377E0;
$label-null: #B3BAC5;
