@use 'variables' as *;
@use 'mixins' as *;


/* BOARD NAME */
#board-name {
    @include font(700, 3rem);
    text-align: center;
    border-bottom: 1px solid $black;
    width: 100%;
    line-height: 3rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

/* LIST CONTAINER */
.list-section {
    margin: 0 0 1rem;
}

.list-title {
    @include font(700, 2.25rem);
    text-transform: uppercase;
    width: 100%;
    padding: 0.25rem 0;
    margin: 0 1rem;
}

/* CARD CONTAINER */
.card-section {
    @include font(400, 1rem);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;

    h1,
    h2 {
        @include font(600, 1rem);
    }
}

.card-title {
    width: 100%;
    @include font(700, 1.5rem);
    border-bottom: 1px solid $black;
    margin: 0;
}

/* background colors for each label type */
.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;

    .label {
        @include font(600, 0.75rem);
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        color: $white;
    }
    
    .red {
        background-color: $label-red;
    }

    .orange {
        background-color: $label-orange;
    }

    .yellow {
        background-color: $label-yellow;
    }

    .green {
        background-color: $label-green;
    }

    .lime {
        background-color: $label-lime;
    }

    .sky {
        background-color: $label-sky;
    }

    .blue {
        background-color: $label-blue;
    }

    .pink {
        background-color: $label-pink;
    }

    .purple {
        background-color: $label-purple;
    }

    .null {
        background-color: $label-null;
    }

    .black {
        background-color: $label-black;
    }

}

.card-desc {
    img {
        max-width: 100%;
    }
}

.styles {
    .red-card {
        @include colors($black, $red);
    }

    .orange-card {
        @include colors($black, $orange);
    }

    .yellow-card {
        @include colors($black, $yellow);
    }

    .green-card {
        @include colors($black, $green);
    }

    .lime-card {
        @include colors($black, $lime);
    }

    .sky-card {
        @include colors($black, $sky);
    }

    .blue-card {
        @include colors($black, $blue);
    }

    .black-card {
        @include colors($white, $dark-blue);
    }

    .pink-card {
        @include colors($black, $pink);
    }

    .purple-card {
        @include colors($black, $purple);
    }

    .null-card {
        @include colors($black, $white);
    }

    .card-desc {
        @include colors($black, $white);
        padding: 1rem;
        border-radius: 0.25rem;
        margin-top: 0.5rem;
    }
}


/* TOP SECTION STYLING */
#formatting-options {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $light-gray;
    border-radius: 0.25rem;
    padding: 0.5rem;
    min-width: 35%;

    span {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 0.5rem;
        width: 100%;
        border-bottom: 1px solid #000000;
    }
}

#buttons {
    margin-top: 1rem;

    #print-button {
        font-size: 2rem;
        color: $gray;
        background-color: transparent;
        border: 0px solid transparent;
        transition: color 250ms;
        cursor: pointer;

        &:hover {
            color: #000000;
        }
    }
}

#print-settings {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin: 0 1rem;

    label {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
    }
}


#print-options {
    padding: 0.5rem;
    margin-top: 0.5rem;

    h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 0.5rem;
        width: 100%;
        border-bottom: 1px solid #000000;
    }
}

#list-checkboxes,
#detail-checkboxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    span {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        background-color: #eeeeee;
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        border-radius: 500px;
        transition: background-color 250ms;

        &:hover {
            background-color: #aaaaaa;
        }
    }
}

input[type=checkbox] {
    margin: 0;
}



/* all children of main#lists are hidden unless given the print class, done by selecting the corresponding checkbox */
#lists>* {
    display: none;
}

#lists>.print {
    display: block;
}

.no-titles {
    .list-section {
        .card-section {
            .card-title {
                display: none;
            }
        }
    }
}

.no-labels {
    .list-section {
        .card-section {
            .labels {
                display: none;
            }
        }
    }
}

.no-descs {
    .list-section {
        .card-section {
            .card-desc {
                display: none;
            }
        }
    }
}

.lists-only {
    .list-section {
        .card-section {
            display: none;
        }
    }
}