/* BOARD NAME */
#board-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    line-height: 3rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

/* LIST CONTAINER */
.list-section {
    margin: 0 0 1rem;
}

.list-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: uppercase;
    width: 100%;
    padding: 0.25rem 0;
    margin: 0 1rem;
}

/* CARD CONTAINER */
.card-section {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem;
    border-radius: 0.25rem;
    padding-bottom: 0.5rem;
}

.card-section h1,
.card-section h2,
.card-section h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.card-section h1 {
    font-size: 1.25rem;
}

.card-section h2 {
    font-size: 1.1rem;
}

.card-section h3 {
    font-size: 1rem;
}

.card-section h4,
.card-section h5,
.card-section h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* CARD BACKGROUND COLORS */
.red-card {
    color: rgb(0, 0, 0);
    background-color: rgba(235, 90, 70, 0.5);
}

.orange-card {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 159, 26, 0.5);
}

.yellow-card {
    color: rgb(0, 0, 0);
    background-color: rgba(242, 214, 0, 0.5);
}

.green-card {
    color: rgb(0, 0, 0);
    background-color: rgba(97, 189, 79, 0.5);
}

.lime-card {
    color: rgb(0, 0, 0);
    background-color: rgba(81, 232, 152, 0.5);
}

.sky-card {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 194, 224, 0.5);
}

.blue-card {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 121, 191, 0.5);
}

.black-card {
    color: rgb(255, 255, 255);
    background-color: rgba(52, 69, 99, 0.5);
}

.pink-card {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 120, 203, 0.5);
}

.purple-card {
    color: rgb(0, 0, 0);
    background-color: rgba(195, 119, 224, 0.5);
}

.null-card {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

h2.card-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid #000000;
    padding: 1rem 1rem 0.25rem 1rem;
    margin: 0;
    line-height: 2rem;
}

h2.dark-image {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
    color: #ffffff;
}

h2.bright-image {
    background: linear-gradient(0deg, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
    color: #000000;
    border-bottom: 1px solid #b6b6b6;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.5rem 1rem;
}

.labels .label {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
}

/* background colors for each label type */
.labels .red {
    background-color: #EB5A46;
}

.labels .orange {
    background-color: #FF9F1A;
}

.labels .yellow {
    background-color: #F2D600;
}

.labels .green {
    background-color: #61BD4F;
}

.labels .lime {
    background-color: #51E898;
}

.labels .sky {
    background-color: #00C2E0;
}

.labels .blue {
    background-color: #0079BF;
}

.labels .pink {
    background-color: #FF78CB;
}

.labels .purple {
    background-color: #C377E0;
}

.labels .null {
    background-color: #B3BAC5;
}

.labels .black {
    background-color: #344563;
}

.dates-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.due-date,
.last-active {
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-style: italic;
    color: #000000;
}

.due-complete {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #ffffff;
    background-color: #61BD4F;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
}

.due-overdue {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #ffffff;
    background-color: #EB5A46;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
}

.members-list {
    margin: 0.5rem 1rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.members-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.member-avatar {
    width: 25px;
    height: 25px;
}

/* CARD DESCRIPTION CONTAINER */
.card-desc {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 0.5rem 1rem;
}

.card-desc img {
    max-width: 100%;
}

.attachments {
    margin: 0.5rem 1rem;
    color: #000000;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    overflow-wrap: break-word;
}

.attachments h4 {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 0;
    margin-bottom: 0.5rem;
}

.attachments ul {
    margin: 0;
}